* {
  margin: 0;
  padding: 0;
  border: inherit; /* remover */
}

html {
  /*border: 1px solid red; /* remover */
  color: #FFF;
  font: 400 62.5%/1 'Nunito', sans-serif;
}

body {
  font-size: 1.8rem;
  height: 100vh;
}
